
body{
  
  background-color:rgb(191,179,231);
  height: 100vh;
  min-height: 500px;
  }

  h1,h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:1%;
    margin-bottom:1%;
    text-shadow: 2px 2px white;
    text-align:center;
    }
  h4
  {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
    text-align:center;
  }
  

p {
  font-size:10 px;
  font-family:cursive;
  margin-top:1%;
  margin-left:2%;
  text-indent:50 px;
  text-align:justify;
}

.jumbotron {
  margin: 0;
  padding: 10px;
  }


  .navbar {
    color:white;
    margin-bottom:20px;
  }
  
  
  .carousel-caption {
    color:rgb(40, 13, 214);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color:rgba(0,0,0,0.1);
      
  }
 

  .row-content {
    padding:50px 0;
    border-bottom:1px ridge;
    min-height: 200px;
}

blockquote{
  border:1 px solid #b3b3b3;
  font-size:18px;
  margin:10px;
  padding:10px 20px;
  background:#fafafa;

}

blockquote p{
  margin-bottom: 5px;
  line-height:30px;
}

.blockquote-footer{
  font-size:10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:10px;
}
 